<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundImage</key>
	<string>backgroundImage</string>
	<key>Logo</key>
	<string>logo</string>
	<key>PlayerColors</key>
	<dict>
		<key>PlayerTextColor</key>
		<string>playerTextColor</string>
		<key>ThemingColor</key>
		<string>themingColor</string>
		<key>PlayerBackgroundColor</key>
		<string>playerBackgroundColor</string>
		<key>NavigationBarColor</key>
		<string>navigationBarColor</string>
		<key>DownloadProgressColor</key>
		<string>downloadProgressColor</string>
	</dict>
	<key>SliderColors</key>
	<dict>
		<key>ProgressColor</key>
		<string>sliderProgressColor</string>
		<key>RemainingColor</key>
		<string>sliderRemainingColor</string>
		<key>ThumbTintColor</key>
		<string></string>
		<key>BufferProgressColor</key>
		<string>sliderBufferProgressColor</string>
	</dict>
	<key>ChapterColors</key>
	<dict>
		<key>ToolTipColor</key>
		<string>toolTipColor</string>
		<key>MarkerColor</key>
		<string>markerColor</string>
	</dict>
	<key>PlayerFonts</key>
	<dict>
		<key>MiniPlayerFont</key>
		<dict>
			<key>TitleFont</key>
			<string></string>
			<key>TitleFontSize</key>
			<integer>14</integer>
			<key>SubtitleFont</key>
			<string></string>
			<key>SubtitleFontSize</key>
			<integer>12</integer>
		</dict>
		<key>FullScreenPlayerFont</key>
		<dict>
			<key>TitleFont</key>
			<string></string>
			<key>TitleFontSize</key>
			<integer>23</integer>
			<key>SubtitleFont</key>
			<string></string>
			<key>SubtitleFontSize</key>
			<integer>12</integer>
			<key>NavigationTitleFont</key>
			<string></string>
			<key>NavigationTitleFontSize</key>
			<integer>17</integer>
			<key>DescriptionTitleFont</key>
			<string></string>
			<key>DescriptionTitleFontzSize</key>
			<integer>11</integer>
			<key>ProgressTimerFont</key>
			<string></string>
			<key>ProgressTimerFontSize</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Icons</key>
	<dict>
		<key>MiniPlayerIcons</key>
		<dict>
			<key>PlayIcon</key>
			<string></string>
			<key>PauseIcon</key>
			<string></string>
			<key>CloseIcon</key>
			<string></string>
			<key>NextIcon</key>
			<string></string>
		</dict>
		<key>FullscreenPlayerIcons</key>
		<dict>
			<key>PlayIcon</key>
			<string></string>
			<key>PauseIcon</key>
			<string></string>
			<key>MinimiseIcon</key>
			<string></string>
			<key>ForwardSkipIcon</key>
			<string></string>
			<key>BackwardSkipIcon</key>
			<string></string>
			<key>NextIcon</key>
			<string></string>
			<key>PreviousIcon</key>
			<string></string>
			<key>TTSNextIcon</key>
			<string></string>
			<key>TTSPreviousIcon</key>
			<string></string>
			<key>TTSPlaylistIcon</key>
			<string></string>
			<key>ArticleIcon</key>
			<string></string>
			<key>DownloadIcon</key>
			<string>download_icon</string>
			<key>DownloadingIcon</key>
			<string>downloading_icon</string>
			<key>DownloadedIcon</key>
			<string>downloaded_icon</string>
			<key>FollowIcon</key>
			<string></string>
			<key>UnfollowIcon</key>
			<string></string>
			<key>LikeIcon</key>
			<string></string>
			<key>UnlikeIcon</key>
			<string></string>
			<key>SleepTimerIcon</key>
			<string></string>
			<key>AddToQueueIcon</key>
			<string></string>
			<key>RemoveFromQueueIcon</key>
			<string></string>
			<key>ShareIcon</key>
			<string></string>
			<key>PlaylistIcon</key>
			<string></string>
			<key>SellAllIcon</key>
			<string></string>
			<key>SpeedIcon</key>
			<string></string>
		</dict>
	</dict>
	<key>ComponentSizes</key>
	<dict>
		<key>MiniPlayerAirPlayIconWidth</key>
		<integer>50</integer>
		<key>SliderBarHeight</key>
		<integer>8</integer>
		<key>CoverImageCornerRadius</key>
		<integer>15</integer>
	</dict>
</dict>
</plist>
